@import url('./__image-container/lead__image-container.css');
@import url('./__content/lead__content.css');
@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');

.lead{
  position: relative;
  top: 0;
  left: 0;
  max-width: 1440px;
  margin: auto;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}