@import url('./__list/results__list.css');
@import url('./__more/results__more.css');

.results {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 104px;
  background-color: #f5f6f7;
}