@import url('./__header/saved-info__header.css');
@import url('./__title/saved-info__title.css');
@import url('./__subtitle/saved-info__subtitle.css');

.saved-info {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 104px 32px;
}

@media screen and (max-width: 1000px) {
  .saved-info {
    width: 100vw;
    padding: 24px 40px 32px;
  }
}

@media screen and (max-width: 480px) {
  .saved-info {
    padding: 8px 16px 32px;
  }
}