.footer__links {
  display: flex;
  padding: 0;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .footer__links {
    height: 74px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
}