@import url('./__photo/about__photo.css');

.about {
  max-width: 1440px;
  margin: auto;
  display: flex;
  padding: 80px 104px;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 928px) {
  .about {
    width: 100vw;
    padding: 40px 40px 61px;
  }
}

@media screen and (max-width: 700px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .about {
    padding: 32px 16px 80px;
  }
}