.result__image {
  background-image: url('../../../images/image_08.png');
  height: 47%;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

@media screen and (max-width: 1300px) {
  .result__image {
    height: 36%;
  }
}

@media screen and (max-width: 650px) {
  .result__image {
    height: 40%;
  }
}