.footer__copyright {
  font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b6bcbf;
}

@media screen and (max-width: 650px) {
  .footer__copyright {
    margin-top: 38px;
  }
}