.result__title {
  margin-top: 12px;
  margin-bottom: 0;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

@media screen and (max-width: 1300px) {
  .result__title {
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 560px) {
  .result__title {
    line-height: 26px;
  }
}