@import url('./_hide/results__error_hide.css');

.results__error {
  font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  max-width: 350px;
  text-align: center;
  margin: 0 auto;
}