.popup__content {
  width: 430px;
  min-height: 458px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
  font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 375px) {
  .popup__content {
    width: 100vw;
  }
}
