@import url('./_hide/results__more_hide.css');

.results__more {
  margin: 64px auto 0;
  background-color: #fff;
  width: 288px;
  height: 64px;
  font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 80px;
  outline: none;
  border: none;
  cursor: pointer;
}

.results__more:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 928px) {
  .results__more {
    width: 240px;
    height: 56px;
    margin-top: 22px;
  }
}

@media screen and (max-width: 480px) {
  .results__more {
    width: 288px;
    height: 56px;
    margin-top: 16px;
  }
}