@import url('./__searchline/searchbar__searchline.css');
@import url('./__submit/searchbar__submit.css');

.searchbar {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 64px;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 928px) {
  .searchbar {
    margin-top: 48px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .searchbar {
    margin-top: 122px;
  }
}