.searchbar__submit {
  position: absolute;
  width: 168px;
  height: 64px;
  top: 0;
  right: 0;
  background-color:#2F71E5;
  border-radius: 100px;
  border: none;
  font-family: "Roboto Regular";
  font-size: 18px;
  color: #fff;
  z-index: 20;
  cursor: pointer;
}

.searchbar__submit:hover {
  background-color: #347eff;
}

.searchbar__submit:active {
  background-color: #2a65cc;
}

@media screen and (max-width: calc(928px)) {
  .searchbar__submit {
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: calc(480px)) {
  .searchbar__submit {
    position: static;
    width: 100%;
    margin-top: 16px;
  }
}