.searchbar__searchline {
  width: 100%;
  height: 64px;
  border-radius: 100px;
  padding-left: 24px;
  box-sizing: border-box;
  font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  outline: none;
}

@media screen and (max-width: calc(928px)) {
  .searchbar__searchline {
    height: 56px;
  }
}