@import url('./__logo/header__logo.css');
@import url('./__controlbar/header__controlbar.css');
@import url('../navigation/navigation.css');
@import url('./__button/header__button.css');

.header {
  max-width: 1440px;
  margin: auto;
  padding-left: 104px;
  padding-right: 104px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
}