.result__save-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #fff;
  background-image: url('../../../images/save-flag_normal.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  display: block;
  cursor: pointer;
}