@import url('./__image/not-found__image.css');
@import url('./__title/not-found__title.css');
@import url('./__subtitle/not-found__subtitle.css');
@import url('./_hide/not-found_hide.css');

.not-found {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}